@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    color-scheme: light;

    --primary:light-dark(#38173a,#fde4ff);
    --secondary:light-dark(#6f2364,#9937aa);
    --shadows:light-dark(#8f4282,#6f0989);
    --accent:light-dark(#e37bac,#4e0560);
    --background:light-dark(#ed88bf,#33004d);

    &:has(input[name="color-scheme"][value="color"]:checked) {
        color-scheme: dark;
    }
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: repeating-conic-gradient(from 0deg at 50% 50%, color-mix(in srgb, var(--accent), var(--background))  52%, var(--accent) 55%);
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}
canvas {
    position: absolute;
}
canvas.CatPattern {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(CatPattern.png);
    background-size: 30%;
    opacity: .2;
}
nav {
    height: 10%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    gap: 30%;
    padding: 0 3%;
}
nav > section.main {
    width:10%;
    display: flex;
    justify-content: flex-start;
}
nav > section.options {
    width: 30%;
    display: flex;
    justify-content: space-around;
    gap: 10%;
}
nav > section.profile {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}
nav > section a ,nav > section i {
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    color: var(--primary);
    transition: .3s;
}
nav > section a:hover ,nav > section i:hover{
    transform: scale(1.1);
    filter: contrast(1.4);
    transition: .3s;
    cursor: pointer;
}
main {
    height: 90%;
    display: flex;
    flex-direction: column;
}
main > article.about {
    height: 35%;
    overflow: auto;
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 20%;
}
article.about > section.title {
    width: 30%;
    display: flex;
    justify-content: center;
}
article.about > section.title h1 {
    color: var(--primary);
    font-size: 5em;
    font-weight: 800;
}
article.about > section.yapping {
    width: 50%;
    overflow: auto;
    background-color: var(--secondary);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 20px var(--shadows));
    opacity: .8;
}
article.about > section.yapping h2 {
    color: var(--primary);
    padding: 5%;
    font-weight: 500;
    font-size: 1.5em;
}
main > article.Kitten_OTD {
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background: var(--secondary) url("CatBG.png");
    background-size: cover;
    opacity: .8;
}
article.Kitten_OTD > div.Kitten_IMG {
    width: 25%;
    transition: .3s;
}
article.Kitten_OTD > div.Kitten_IMG:hover {
    width: 27%;
    transition: .3s;
    cursor: pointer;
}
article.Kitten_OTD > div.Kitten_IMG img {
    width: 100%;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 50px var(--shadows));
}
article.Kitten_OTD > section.stats {
    width: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: var(--accent);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 50px var(--shadows));
    overflow: auto;
}
article.Kitten_OTD > section.stats h3 {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.5em;
    padding-left: 7%;
}
label input {
    display: none;
}
label i {
    position: absolute;
    color: var(--primary);
    bottom: 3%;
    left:80%;
    font-size: 2.5rem;
    transition: .3s;
}
label i:hover {
    filter: contrast(1.4);
    transform: scale(.9);
    transition: .3s;
}