@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    color-scheme: dark;

    --primary:light-dark(#d71d36,#d71d36);
    --secondary:light-dark(#f5f5f5,#f5f5f5);
    --backdrop:light-dark(#29272750,#27292850);
    --glow:light-dark(#ca3934,#ca3934);
    --background:light-dark(#201e1e,#202020);

    &:has(input[name="color-scheme"][value="color"]:checked) {
        color-scheme: light;
    }
}

body {
    width: 100vw;
    height: 1550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, rgba(231,75,96,0.1) 0%, rgba(81,11,21,0.1) 100%), url(/Images/BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: var(--secondary);
    font-family: "Space Mono", serif;
}
i { font-style: italic; }
nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20%;
}
nav a {
    text-decoration: none;
    color: var(--secondary);
    transition: .3s;
    font-size: 1.4em;
    font-weight: 500;
}
nav a:hover {
    transform: scale(1.3);
    transition: .3s;
    filter: drop-shadow(0 0 7px var(--secondary));
}
label input {
    display: none;
}
nav > div.navcenter {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--backdrop);
    border-radius: 10px;
    padding: 15px 0;
    box-shadow: 2px 2px 4px #000000;
}
div.navcenter > section {
    display: flex;
    gap: 15px;
    transition: 1s;
}
div.navcenter a { font-size: 1.2em;}
div.navcenter a#current {
    color: var(--primary);
    filter: drop-shadow(0 0 3px var(--glow));
}
a.text { display: inline; transition: 1s;}
a.icon { display: none; transition: 1s;}
nav > div.navright {
    display: flex;
    gap: 15px;
} 
main {
    width: 80%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 100px var(--background));
    gap: 60px;
    padding-top: 50px;
}
h2 {
    font-size: 3em;
    font-weight: 800;
    color: var(--primary);
}
section.clicker {
    width: 90%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--backdrop);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    gap: 10px;
}
section.group {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
div.button {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.button > img {
    width: 80%;
    border-radius: 400px;
    transition: .3s;
    filter: grayscale(.6);
}
div.button > img:hover {
    transform: scale(1.1);
    filter: grayscale(0) drop-shadow(0 0 15px var(--primary));
    cursor: pointer;
    transition: .3s;
}
div.button > img:active {
    transform: scale(1.1) rotate(360deg);
    transition: .3s;
}
section.upgrades {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
section.upgrades > section {
    width: 80%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    background-color: var(--backdrop);
    border-radius: 15px;
    border: solid 3px var(--backdrop);
    color: var(--secondary);
    transition: .3s;
}
section.upgrades > section:hover {
    transition: .3s;
    transform: scale(1.05);
    filter: contrast(1.1);
    cursor: pointer;
}
section.upgrades p {
    font-size: 1.5em;
    font-weight: 700;
    user-select: none;
}
section.upgrades p:first-child span { color: var(--primary); }
section.upgrades p.cost {
    font-size: 1em;
    color: color-mix(in srgb, var(--secondary) 60%, var(--backdrop) 40%);
}
p.meows {
    font-size: 2em;
    font-weight: 700;
    filter: drop-shadow(0 0 10px var(--secondary));
}
.clicker input[type=checkbox] {display: none;}
label {
    position: absolute;
    font-size: 2em;
    bottom: 60px;
    left: 80px;
}
input[type=checkbox]:checked ~ label#loud { display: none; }
input[type=checkbox]:checked ~ label#muted { display: inline; }
input[type=checkbox]:not(:checked) ~ label#loud { display: inline; }
input[type=checkbox]:not(:checked) ~ label#muted { display: none; }
h4 {
    font-weight: 600;
    font-size: 2.5em;
    transform: rotate(-5deg);
}
section.container {
    width: 90%;
    height: 300px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
section.container > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: var(--backdrop);
    font-weight: 600;
    border-radius: 30px;
    padding: 30px;
    transition: .3s;
}
section.container > section:hover {
    transition: .3s;
    transform: scale(1.05);
}
section.container p {
    font-size: 1.4em;
    color: var(--secondary);
}
section.container i#red {color: var(--primary);}
hr {
    width: 100%;
    height: 5px;
    border: none;
    background-color: var(--secondary);
    margin: 0;
}
footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    background-color: var(--backdrop);
}
footer p, footer a {
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    color: var(--secondary);
    filter: drop-shadow(0 0 3px var(--secondary));
}
footer p#red { color: var(--primary); filter: drop-shadow(0 0 3px var(--glow))}
section.contact {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Responzivita*/
@media (width <= 1140px) {
    nav { gap: 10%; }
    nav > div.navcenter {width: 60%;}
    main { width: 90%; }
    section.clicker { width: 100%; }
    section.contact { width: 50%;}
}
@media (width <= 800px) {
    body { height: 1800px;}
    nav { gap: 0%; }
    nav a:hover { transform: scale(1.1); }
    nav > div.navcenter { width: 70%; }
    a.text { display: none; }
    a.icon { display: inline; }
    div.navcenter > section:hover > a.text {display: inline; transition: 1s;}
    main { width: 98%; height: 1650px;}
    section.clicker { border-radius: 30px; height: 900px;}
    section.group { flex-direction: column; height: 85%;}
    div.button { width: 100%; height: 65%;}
    div.button > img { height: 80%; width: auto;}
    section.upgrades { width: 100%; height: 35%; }
    section.contact { width: 60%;}
}
@media (width <= 625px) {
    body {font-size: .7em; height: 1700px; }
    main { height: 1550px;}
    nav {justify-content: space-around; }
    nav > div.navcenter { width: 300px;}
    nav > div.navright { gap: 5px; }
    h2 {font-size: 4em;}
    section.clicker { height: 800px;}
    section.container { width: 100%;}
}
@media (width <= 430px) {
    h2 { font-size: 3em; }
    section.clicker {height: 650px;}
    div.button { height: 55% ;}
    section.upgrades { height: 45%; }
    section.container { grid-template-columns: auto; }
    footer { flex-direction: column; }
    section.contact { width: 100%; text-align: center;}
}